{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Rescala | Sign Up{% endblock %}
{% block my_header %}{% endblock my_header %}
{% block content %}
<div class="container-fluid">
    <div class="row full-page">
        <div class="d-flex flex-column align-items-center col-md-8 border">
            <div>
                <h1>Register with Rescala</h1>
                <p>Already have an account? Then please
                    <a class="link" href="{{ login_url }}">sign in</a>
                </p>
            </div>
            <form class="signup w-75" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="user-input-wrp my-2 input-icons">
                    <br />
        
                    {{form.username}}
                    <span class='floating-label'>            <i class="fa-regular fa-user"></i>Enter a username</span>
                </div>
                <div class="user-input-wrp my-2 input-icons">
                    <br />
                    {{form.password1}}
                    <span class='floating-label'><i class="fa-solid fa-key"></i></i>Enter a password</span>
                </div>

                <div class="user-input-wrp my-2 input-icons">
                    <br />
                    {{form.password2}}
                    <span class='floating-label'><i class="fa-solid fa-lock"></i>Re-enter your password</span>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <div class='d-flex justify-content-center'>
                    <button class="btn btn-dark " type="submit">{% trans "Sign Up" %} &raquo;</button>


                </div>


            </form>

        </div>
        <div class="col-md-4 border">

            <h2>Rescala can help you</h2>
        </div>

    </div>


</div>
</div>
</div>

{% endblock %}