
/* ------------------------------- Text */
.subtitle{
    font-size: 120%;
}
/* ------------------------------ Sizing */
.full-page{
    height: 90vh;
}

.h-20 {
    min-height: 20%;
}

.h-30 {
    min-height: 30%;
}

.h-40 {
    min-height: 40%;
}


/* ------------------------------ All Auth Templates */
.input-sign-up > input{
    width: 100%;
}
.input-sign-up > button{
    width: 75%;
}