
/* ------------------------------- Text */
.subtitle{
    font-size: 120%;
}
/* ------------------------------ Sizing */
.full-page{
    height: 90vh;
}

.h-20 {
    min-height: 20%;
}

.h-30 {
    min-height: 30%;
}

.h-40 {
    min-height: 40%;
}


/* ------------------------------ All Auth Templates */
.input-sign-up > input{
    width: 100%;
}
.input-sign-up > button{
    width: 75%;
}


/* https://stackoverflow.com/questions/35942247/how-to-move-placeholder-to-top-on-focus-and-while-typing */
.user-input-wrp {
	position: relative;
	/* width: 50%; */
}
.user-input-wrp .input-field{
	width: 100%;
	outline: none;
	border:none;
	border-bottom: 1px solid #777;
 	box-shadow: none !important;
}
.user-input-wrp .input-field:focus{
	border-color: blue;
	border-width: medium medium 2px;
}
.user-input-wrp .floating-label {
	position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}
.user-input-wrp input:focus ~ .floating-label,
.user-input-wrp input:not(:focus):valid ~ .floating-label{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}


